:root{
    --color-1: #2196F3;
    --color-2: black;
    --color-3: #757575;
    --color-4: #2F303A;
    --color-5: white;
    --color-6: #120c69;
    --color-7: #212121;
    --color-8: #f4f4fd;
    --color-9: #AFB1B8;
    --color-10: #555555;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    margin: 10px 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo span {
    color: var(--color-1);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
}

.menu li {
    display: inline-block;
    margin: 10px 20px;
}

.menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--color-2);
    transition: all 0.3s ease;
}
.st{
    color: var(--color-1);
}
header a:hover {
    color: var(--color-1);
    fill: var(--color-1);;
}

nav {
    display: flex;
    align-items: center;
}

.info {
    font-style: normal;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-3);
}

.info svg {
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.address li {
    display: inline-block;
    margin: 0 20px;
}

.main {
    background-color: var(--color-4);
}

.main .container {
    height: 600px;
    width: 100%;
    color: var(--color-5);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 216px;
    height: 50px;
    background-color: var(--color-1);
    border: 0;
    border-radius: 7px;
    color: var(--color-5);
    margin-top: 20px;
    transition: all .5s ease;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
}

.button:hover {
    background-color: var(--color-6);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main h1 {

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    width: 696px;
    height: 120px;
}

.main div {
    text-align: center;
    position: relative;
    z-index: 1;
}

.text .title {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-7);
}

.text p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-3);
}

.text {
    display: flex;
    justify-content: space-around;
}

.text ul {
    padding: 0;
    display: flex;
}

.text li {
    list-style-type: none;
    display: inline-block;
    margin: 50px 20px;
    width: 270px;
    height: 224px;
}

.imeges {
    margin: 50px auto;
}

.imeges ul {
    display: flex;
    /* justify-content: space-around; */
    padding: 0;
    gap: 30px;
}

.imeges li {
    list-style-type: none;
}

.imeges h2 {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-7);
    margin: 50px 0;
}

.ourteam {
    background-color: var(--color-8);
    height: 732px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourteam h2 {
    text-align: center;
    font-size: 37px;
}

.team {
    display: flex;
    text-align: center;
    padding: 0;
}

.team ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.photo h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-3);
}

.photo li {
    width: 44px;
    height: 44px;
}

.photo a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-5);
    transition: all 0.3s ease;
    fill: var(--color-9);
}

.photo a:hover {
    background-color: var(--color-1);
    fill: var(--color-5);
}

.team li {
    list-style-type: none;
}

.photo {
    width: 270px;
    height: 368px;
    background-color: var(--color-5);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all .5s ease;
}

.photo:hover {
    transform: scale(1.1);
}

.customers {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers div {
    width: 1128px;
    height: 200px;
}

.customers h2 {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0;
}

.customers li {
    list-style-type: none;
    transition: all .5s ease;
    width: 170px;
    height: 92px;
    border: 2px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers li:hover {
    transform: scale(1.1);
    border: 2px solid #2196F3;
}

.customers ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.customers a {
    fill: var(--color-9);
    width: 170px;
    height: 92px;
    transition: all .5s ease;
}

.customers a:hover {
    fill: var(--color-1);
}

.customers svg {
    width: 170px;
    height: 92px;
}

footer {
    background-color: var(--color-4);
}

.foot {
    height: 312px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-left: 200px;
}
.address1 li{
    margin: 10px 0;
}
.address1 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-5);
    opacity: 0.5;
    transition: all 0.3s ease;
}
.address1 a:hover{
    color: var(--color-1);
}

.address1 .a {
    opacity: 1;
}

.logo1 {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--color-5);
}

.logo1 span {
    color: var(--color-1);
}

.foot ul {
    padding: 0;
    width: 240px;
    height: 81px;
    margin-top: 20px;
}

.foot li {
    list-style-type: none;
}

.foot h3 {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-5);
}

.div ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.div li {
    display: flex;
}

.div a {
    width: 44px;
    height: 44px;
    fill: var(--color-10);
    transition: all .3s ease;
}

.div a:hover {
    fill: var(--color-1);
}

.div svg {
    width: 44px;
    height: 44px;
}